<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <title>Dar Entrada Produto</title>
</head>

<body>

  


  <section class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Dar Saida Produto</h1>
            <form action="/saidaProduto" method="POST">

                <div class="form-group">
                    <label for="codigo_categoria">Codigo Categoria</label>
                    <input type="text" disabled class="form-control" required value="<%=produto_item.codigo_categoria %>">
                </div>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" disabled class="form-control" required value="<%=produto_item.nome_produto %>">
                </div>

                <div class="form-group">
                    <label for="autor">Quantidade</label>
                    <input type="number" id="quantidade" name="quantidade" class="form-control" placeholder="Quantidade" required value="0">
                </div>

                <input type="hidden" name="id_produto" value="<%=produto_item.id_produto %>">
                <input type="hidden" name="quantidade_anterior" value="<%=produto_item.quantidade %>">
                <button type="submit" id="enviar" class="btn btn-primary" onclick="enviar_dados()">Salvar</button>
            </form>
        </div>
    </div>
</section>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="js/validacao.js"></script>

  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>